<section id="features" class="features section">
    
    <div class="container section-title">
      <h1 class="fw-bold">
        <span class="yr-grdText">Empaneled </span>
        <span class="text-primary">Services & Bidders</span>
      </h1>
      <p class="description">
        IndiaAI has empaneled AI services on cloud and intends to offer AI
        compute infrastructure to academia, MSMEs, startups, research
        community, governments, public sector agencies and other entities
        registered and approved by IndiaAI.
      </p>
    </div>
  
    <div class="container">
      <div class="row gy-5">
        <div class="col-xl-12">
          <ul class="biddersLogo">
            <li>
              <img src="/assets/CloudThat_Logo.png" alt="CloudThat Logo" />
            </li>
            <li>
              <img src="/assets/cms-life.png" alt="CMS Life Logo" />
            </li>
            <li>
              <img src="/assets/CtrlS_Logo.png" alt="CtrlS Logo" />
            </li>
            <li>
              <img src="/assets/Cyfuture-Color-Logo.png" alt="Cyfuture Logo" />
            </li>
            <li>
              <img src="/assets/e2e-network.png" alt="E2E Network Logo" />
            </li>
            <li>
              <img src="/assets/hostin-services-private-limited.png" alt="Hostin Services Logo" />
            </li>
            <li>
              <img src="/assets/i2k2-Networks-P-Ltd.-Logo-Vector.svg-.png" alt="i2k2 Networks Logo" />
            </li>
            <li>
              <img src="/assets/ishan.png" alt="Ishan Logo" />
            </li>
            <li>
              <img src="/assets/jpl-logo.png" alt="JPL Logo" />
            </li>
            <li>
              <img src="/assets/Locuz-standalone.png" alt="Locuz Logo" />
            </li>
            <li>
              <img src="/assets/orient-logo.png" alt="Orient Logo" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  