<section id="faq" class="faq section">
    
      <div class="section-title">
        <h1>FAQ's</h1>
        <p>
          The IndiaAI Mission aims to bolster
          India’s global leadership in AI, foster technological
          self-reliance, ensure ethical and responsible AI deployment, and
          democratize the benefits of AI across all strata of society.
        </p>
      </div>
  
      <div class="container">
        <div class="faq-wrapper">
          <div class="faq-container">
            <div class="faq-item">
              <h3>What are the AI services offered by IndiaAI on the cloud?</h3>
            </div>
            <div class="faq-item">
              <h3>Who is eligible to use IndiaAI empaneled AI services?</h3>
            </div>
            <div class="faq-item">
              <h3>What documents are required for registration?</h3>
            </div>
            <div class="faq-item">
              <h3>How do I register for access to AI services?</h3>
            </div>
            <div class="faq-item">
              <h3>What is the process for accessing compute?</h3>
            </div>
  
            <div class="faq-item">
              <h3>How is GPU allocation determined?</h3>
            </div>
  
            <div class="faq-item">
              <h3>How does IndiaAI ensure the security and proper use of AI services?</h3>
            </div>
  
            <div class="faq-item">
              <h3>What should I do if I encounter issues with service availability?</h3>
            </div>
  
            <div class="faq-item">
              <h3>What is the process for service renewals?</h3>
            </div>
            <div class="faq-item">
              <h3>How do I track service usage?</h3>
            </div>
          </div>
        </div>
      </div>
  
  </section>
  