<section id="about" class="about section">
    <div class="container">
      
        <div class="text-center mx-auto" style="max-width: 900px">
            <div class="about-title">
              <h1>Transforming India's AI Ecosystem</h1>
            </div>
          
            <p>
              IndiaAI is a national initiative aimed at fostering AI
              innovation and ensuring equitable access to AI resources.
              Through strategic programs and partnerships, we empower
              startups, researchers, and institutions to excel in AI
              development.
            </p>
            <p>
              In March 2024, the Government of India approved the IndiaAI
              Mission with the aim to build a precise and cohesive strategy
              for bridging the gaps in the existing AI ecosystem. The
              IndiaAI mission will establish a comprehensive ecosystem
              catalyzing AI innovation through strategic programs and
              partnerships across the public and private sectors. By
              democratizing computing access, improving data quality,
              developing indigenous AI capabilities, attracting top AI
              talent, enabling industry collaboration, providing startup
              risk capital, ensuring socially impactful AI projects and
              bolstering ethical AI, it will drive responsible, inclusive
              growth of India's AI ecosystem.
            </p>
            <br>
            <div class="text-center">
              <button class="btn-read-more btn btn-dark">
                About India AI
              </button>
              <button class="btn-read-more btn btn-primary">
                Login Now
              </button>
            </div>
            <br>
          </div>
        </div>
      
   
  </section>
  