
.about-title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
}

.about p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.btn-read-more {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none; 
    border-radius: 5px;
}

.btn-read-more.btn-dark {
    background-color: #333;
    color: white;
}

.btn-read-more.btn-dark:hover {
    background-color: #555;
}

.btn-read-more.btn-primary {
    background-color: darkorange;
    color: white;
}

.btn-read-more.btn-primary:hover {
    background-color: rgb(228, 148, 0);
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-4 {
    margin-top: 2rem;
}
