<div class="info-section">
    <div class="content">
      <p>
        <span class="brace">{{ '{' }}</span> 
        Scalable AI Ecosystem with 10,000+ GPUs through Partnership 
        <span class="brace">{{ '}' }}</span>
      </p>
      <h1>
        Bridging AI Innovation & Opportunity Across India
      </h1>
      <p>
        Cutting-edge AI solutions require substantial AI computing
        resources, intricate foundational models, a highly specialized
        workforce, extensive AI risk financing, and access to high-quality
        datasets.
      </p>
      <br>
      <div class="d-flex flex-column flex-md-row">
        <button class="btn-get-started">Know More -></button>
      </div>
    </div>
  </div>
  