<section id="stats" class="stats section">
  <div class="container">
    <div class="section-title text-center">
      <h1 class="fw-bold">
        <span class="yr-grdText">Number of </span>
        <span class="text-primary">End Users</span>
      </h1>
      <p class="stats-description">
        IndiaAI has empaneled AI services on cloud and intends to offer AI
        compute infrastructure to academia, MSMEs, startups, research
        community, governments, public sector agencies, and other entities
        registered and approved by IndiaAI.
      </p>
    </div>
    <div class="stats-boxes">
      <div class="stats-box">
        <div class="stats-number">245</div>
        <div class="stats-label">Researchers</div>
      </div>
      <div class="stats-box">
        <div class="stats-number">342</div>
        <div class="stats-label">Students</div>
      </div>
      <div class="stats-box">
        <div class="stats-number">132</div>
        <div class="stats-label">Faculty</div>
      </div>
      <div class="stats-box">
        <div class="stats-number">225</div>
        <div class="stats-label">Forly-stage startup</div>
      </div>
      <div class="stats-box">
        <div class="stats-number">176</div>
        <div class="stats-label">Startups</div>
      </div>
      <div class="stats-box">
        <div class="stats-number">145</div>
        <div class="stats-label">Early-stage researchers</div>
      </div>
      <div class="stats-box">
        <div class="stats-number">112</div>
        <div class="stats-label">India AI Fellowship</div>
      </div>
      <div class="stats-box">
        <div class="stats-number">182</div>
        <div class="stats-label">Govt entities</div>
      </div>
    </div>
  </div>
</section>
