<section id="values" class="values section" style="background: rgba(234, 91, 12, 0.05)">
    <div class="container section-title">
      <h1><span class="text-primary">Are You Eligible?</span> Find Out Now!</h1>
      <p>End users who would be accessing the AI compute resources and other services provisioned through this portal for research and application development.</p>
    </div>
    
    <div class="container card-container">
      <!-- Card 1 -->
      <div class="card">
        <div class="img-circle">
          <img src="/assets/Researchers.gif" alt="" />
        </div>
        <h3>Researchers</h3>
        <ul>
          <li>h-index >= 5 OR</li>
          <li>Publication in Journal with I.F > OR</li>
          <li>Citations > 150</li>
        </ul>
      </div>
      <!-- Card 2 -->
      <div class="card">
        <div class="img-circle">
          <img src="/assets/Startups.gif" alt="" />
        </div>
        <h3>Startups</h3>
        <ul>
          <li>DPIIT Recognition</li>
          <li>Experience in AI/ML</li>
          <li>Annual rev 50 Lacs or</li>
          <li>Funding of INR 100 Lacs</li>
        </ul>
      </div>
      <!-- Card 3 -->
      <div class="card">
        <div class="img-circle">
          <img src="/assets/India-AI-Fellowship.gif" alt="" />
        </div>
        <h3>India AI Fellowship</h3>
        <ul>
          <li>India AI Fellowship</li>
        </ul>
      </div>
      <!-- Card 4 -->
      <div class="card">
        <div class="img-circle">
          <img src="/assets/Students.gif" alt="" />
        </div>
        <h3>Students</h3>
        <ul>
          <li>h-index >= 5 OR</li>
          <li>Publication in Journal with I.F > OR</li>
          <li>Citations > 150</li>
        </ul>
      </div>
      <!-- Card 5 -->
      <div class="card">
        <div class="img-circle">
          <img src="assets/Early-Stage-Startups.gif" alt="" />
        </div>
        <h3>Early Stage Startups</h3>
        <ul>
          <li>4 Years experience in AI/ML (including research)</li>
          <li>Letter- IndiaAI CEO / JS rank officer or above</li>
        </ul>
      </div>
    </div>
  </section>
  