<footer id="footer" class="footer">
  <div class="container footer-top">
    <div class="footer-about">
      <a href="index.html" class="d-flex align-items-center">
        <img src="assets/ai-india-logo-f.svg" alt="India AI Logo" class="img-fluid" />
      </a>
      <a href="index.html" class="d-flex align-items-center">
        <img src="assets/digital-india-logo-f.svg" alt="Digital India Logo" class="img-fluid" />
      </a>
    </div>

   
    <div class="footer-links-wrapper">
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li>Home</li>
          <li>About Scheme</li>
          <li>Guidelines</li>
          <li>Eligibility Criteria</li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Explore INDIAai Portal</h4>
        <ul>
          <li>News</li>
          <li>Articles</li>
          <li>Startups</li>
          <li>Case Studies</li>
          <li>Events</li>
          <li>Contact Us</li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Legal</h4>
        <ul>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Cookie Policy</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container copyright">
    <div class="copyright-content">
      <p>© <span>Copyright <strong>2025</strong> All Rights Reserved</span></p>
      <div class="social-links">
        <a href="https://twitter.com" target="_blank">
          <img width="48" height="48" src="https://img.icons8.com/glassmorphism/48/twitterx.png" alt="twitterx"/>
        </a>
        <a href="https://facebook.com" target="_blank">
          <img width="24" height="24" src="https://img.icons8.com/color/48/facebook-new.png" alt="Facebook" />
        </a>
        <a href="https://instagram.com" target="_blank">
          <img width="24" height="24" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="Instagram" />
        </a>
        <a href="https://linkedin.com" target="_blank">
          <img width="24" height="24" src="https://img.icons8.com/fluency/48/linkedin.png" alt="LinkedIn" />
        </a>
        <a href="https://youtube.com" target="_blank">
          <img width="24" height="24" src="https://img.icons8.com/color/48/youtube-play.png" alt="YouTube" />
        </a>
      </div>
    </div>
  </div>
</footer>
